#include <windows.h>

1 VERSIONINFO
FILEVERSION     0,25,0,0
PRODUCTVERSION  0,25,0,0
FILETYPE        VFT_APP
FILEOS          VOS__WINDOWS32
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "ProductName",      "waitpid"
      VALUE "ProductVersion",   "0.25"
      VALUE "InternalName",     "waitpid"
      VALUE "FileDescription",  ""
      VALUE "OriginalFilename", "waitpid.exe"
      VALUE "FileVersion",      "0.25"
      VALUE "CompanyName",      ""
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

2 ICON DISCARDABLE "hourglass.ico"
